/* work sans font form google font*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*shared styles*/
* {
    font-family: "Work Sans", sans-serif;
    padding: 0%;
    margin: 0%;
}

.btn-primary{
    margin-bottom: 30px;
    padding: 22px 32px;
    background: #FF900E;
    border-radius: 8px;
    font-size: 1.25rem;
    border: none;
    color: #fff;
    cursor: pointer;
}

.text-gray{
    color: #727272;
}
/*Header styles*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav h3{
    font-size: 45px;
    font-weight: 700;
}
nav>ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 26px;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/*Banner Styles*/
.banner{
    padding-top: 30px;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    padding: 30px 0;
    font-size: 16px;
    line-height: 28px;
}
.banner img{
    width: 100%;
}
/*main section*/
main{
    max-width: 1440px;
    margin: 70px auto;
}
/*teams section*/
.teams-contaner{
    display: flex;
    align-items: center;
}
.teams-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding: 0px 70px;
}
.teams-title{
    font-size: 2.8rem;
    padding: 20px 0px;
}
.teams-title .quick-list{
    font-weight: 500;
}
.teams-title .quick-features{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    line-height: 26px;
    padding-bottom: 20px;
}




/*responsive media queries*/
/*mobile*/
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
    .teams-contaner{
        flex-direction: column;
    }
    .teams-images{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding: 0px 20px;
    }
}

/*tablet or medium devices*/
@media screen and (min-width:576px) and (max-width: 960px) {
    header{
        padding: 30px;
    }
    nav {
        flex-direction: column;
    }
    .teams-contaner{
        flex-direction: column;
    }
}
@media screen and (min-width:961px) and (max-width: 1080px) {
    header{
        padding: 30px;
    }

}